/* Fonts */

@font-face {
    font-family: PixelBit;
    src: url(./assets/fonts/PixelBit.ttf);
}

/* Structure */

* {
    box-sizing: border-box;
}

.Structure {
    display: flex;
    flex-direction: column;

    width: 100vw;
    min-height: 100vh;

    background-color: black;
    background: 
    /* On "top" */
    repeating-linear-gradient(
      -45deg,
      transparent,
      transparent 40px,
      rgb(0, 0, 0) 40px,
      rgb(0, 0, 0) 90px
    ),
    /* on "bottom" */
    linear-gradient(
      to bottom,
      #383838,
      #2d2d2d
    );
}

/* Header */

.Header {
    width: 100%;
    height: 8vh;
    background-color: rgba(0, 0, 0, 0.53);
    display: flex;
    flex-direction: row;
}

.Header-logo-div {
    flex: 0.5;
    display: flex;
    align-items: center;
    justify-content: left;
}

.Header-logo-div img {
    max-height: 95%;
}

.Header-nav-div {
    flex: 0.5;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    color: white;
    padding-right: 2%;
}

.Header-nav-link {
    height: 100%;
    padding-left: 1%;
    padding-right: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 3%;
    font-size: 13pt;
}

.selected {
    background-color: rgba(255, 255, 255, 0.123);
}

.special {
    height: 60%;
    background: rgb(200,34,112);
    background: linear-gradient(90deg, rgba(200,34,112,1) 0%, rgba(222,64,138,1) 100%);
    border-radius: 10px;
    text-align: center;
    font-family: Pixelbit;
}

/* Main */

.Main {
    display: flex;
    flex-direction: row;

    width: 100%;
    min-height: 90vh;
}

/* Main-Sidebar */

.Sidebar {
    flex: 0.15;
    display: flex;
    flex-direction: column;

    background-color: rgba(0, 0, 0, 0.40);
}

.Sidebar-title {
    text-align: center;
}
.Sidebar-title h1 {
    font-size: 14pt;
    font-family: Pixelbit;
    color: white;
}
.Sidebar-title input {
    width: 90%;
    height: 3vh;
}

/* Main-Content */

.Content {
    flex: 0.85;
    background-color: rgba(0, 0, 0, 0.137);
}

/* Media Queries */

@media only screen and (max-width: 600px) {
    .Sidebar {
        flex: 0;
    }

    .Content {
        flex: 1;
    }
}